<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DiarioWebSis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servletInsertAluno</servlet-name>
    <servlet-class>servlet.insereAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletInsertAluno</servlet-name>
    <url-pattern>/insereAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletInsertProfessor</servlet-name>
    <servlet-class>servlet.insereProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletInsertProfessor</servlet-name>
    <url-pattern>/insereProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletProcuraAluno</servlet-name>
    <servlet-class>servlet.procuraAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletProcuraAluno</servlet-name>
    <url-pattern>/procuraAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletEditaAluno</servlet-name>
    <servlet-class>servlet.editaAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletEditaAluno</servlet-name>
    <url-pattern>/editaAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletCriaTipoNota</servlet-name>
    <servlet-class>servlet.criaTipoNota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCriaTipoNota</servlet-name>
    <url-pattern>/criaTipoNota</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletAvaliaAluno</servlet-name>
    <servlet-class>servlet.avaliaAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAvaliaAluno</servlet-name>
    <url-pattern>/avaliaAluno</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>servletInsereTurma</servlet-name>
    <servlet-class>servlet.insereTurma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletInsereTurma</servlet-name>
    <url-pattern>/insereTurma</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>